<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="bg-dark text-white py-2">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <span class="mr-2">Email: <span id="userEmail"></span></span>
            <span class="mr-2">Roles: <span id="userRoles"></span></span>
        </div>
        <div>
            <a href="/logout" class="btn btn-light">Logout</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-light">
            <div class="my-3">
                <!-- Admin/User toggle buttons -->
                <div class="btn-group d-flex flex-column" role="group">
                    <button type="button" class="btn btn-primary mb-2">ADMIN</button>
                    <button type="button" class="btn btn-primary">USER</button>
                </div>
            </div>
        </div>
        <div class="col-10">
            <!-- Admin Panel -->
            <div id="adminPanel">
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#usersList">Users List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="usersList">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!--  тут цикл заполнения таблицы юзеров с БД -->
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="newUser">
                        <!-- Form for creating new user -->
                        <form id="user-form">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" class="form-control" id="password" name="password" required>
                            </div>

                            <div class="form-group">
                                <label>Roles</label>
                                <div id="roles-container"></div>
                            </div>
                            <button type="submit" class="btn btn-primary">Create User</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- User Panel -->
            <div id="userPanel">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="editId" class="form-label">Username</label>
                        <input type="text" class="form-control" id="editId" required readonly>
                    </div>
                    <div class="mb-3">
                        <label for="editName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="editName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editEmail" required>
                    </div>
                    <div class="mb-3">
                        <label for="editPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="editPassword" required>
                    </div>
                    <div class="form-group">
                        <label>Roles</label>
                        <div id="edit-roles-container"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="editCloseButton">Close</button>
                <button type="button" class="btn btn-primary" id="editOkButton">Edit User</button>
            </div>
        </div>
    </div>
</div>



<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="deleteId" class="form-label">ID</label>
                        <input type="text" class="form-control" id="deleteId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="deleteName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="deleteEmail" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteRoles" class="form-label">Roles</label>
                        <input type="text" class="form-control" id="deleteRoles" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="deleteCloseButton">Close</button>
                <button type="button" class="btn btn-danger" id="deleteOkButton">Delete</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




<script src="/js/admin.js">

</script>

<script>
    $(document).ready(function() {
        // Изначально спрятать панель своих юзерданных
        $("#userPanel").hide();
        // переключить на клик кнопки
        $(".btn-group .btn").click(function() {
            console.log($(this).text());
            let id = $(this).text().trim().toLowerCase() + "Panel";
            $("#adminPanel, #userPanel").hide(); // спрятать все панели
            $("#" + id).show(); // показать выбранную панель
        });

    });
</script>
</body>
</html>