<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User editing</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter new name: </label>
    <input type="text" th:field="*{username}" id="name">
    <label for="surname">Enter new surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password">
    <h1>User Roles:</h1>
    <br/>
    <ul>
        <li th:each="role : ${allRoles}">
            <label>
                <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
                <span th:text="${role}"></span>
            </label>
        </li>
    </ul>
    <br/>
    <input type="submit" value="Edit User"/>
</form>
    <br>
    <a th:href="@{/logout}">Logout</a>
</body>
</html>

<!--<ul>-->
<!--    <li th:each="role : ${user.roles}">-->
<!--        <input type="checkbox" th:field="*{roles}" th:value="${role}" />-->
<!--        <span th:text="${role.getAuthority()}"></span>-->
<!--    </li>-->
<!--</ul>-->
